/* .conte{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    gap: 25px;
}

.peli{
    background-color: azure;
    text-align: justify;
    width: 300px;
    box-shadow: 0px 0px 7px aliceblue;
    
}

.name, .descrip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info{
    padding: 15px;
}

img{
    width:300px;
    object-fit: cover;
} */

.descrip {
    overflow-y: scroll;
    height: 240px;
    
  }

.carrusel{
    background-color: #121423;
}

.conte{
    padding: 20px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    
}

.conte img{
    border-radius: 15px;
    width:300px;
    object-fit: cover;
} 


.flip-card {
    border-radius: 15px;
    width: 300px;
    height: 450px;
    perspective: 1000px; /* Crea una perspectiva 3D para el efecto */
  }
  
  .flip-card-inner {
    border-radius: 15px;
    width: 300px;
    height: 450px;
    transition: transform 0.6s; /* Define la duración y el tipo de transición */
    transform-style: preserve-3d; /* Preserva la configuración 3D de los hijos */
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); /* Voltea la tarjeta al pasar el cursor */
  }
  
  .flip-card-front,
  .flip-card-back {
    border-radius: 15px;
    position: absolute;
    width: 300px;
    height: 450px;
    backface-visibility: hidden; /* Oculta la parte trasera de la tarjeta */
  }
  
  .flip-card-front {
    background-color: #bbb;
  }
  
  .flip-card-back {
    border-radius: 15px;
    box-sizing: border-box;
    padding: 25px;
    background-color: #f2f2f2;
    transform: rotateY(180deg); /* Voltea la parte trasera de la tarjeta inicialmente */
    color: black;
  }
  ::-webkit-scrollbar{
    width: 5px;
    
  }
  ::-webkit-scrollbar-track{
  
    color: green;
  }

 